.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  .loader {
    width: 12em;
    height: 12em;
    path {
      stroke: #000;
      stroke-width: 0.6px;
      animation: dashArray 4s ease-in-out infinite,
        dashOffset 4s linear infinite;
    }
  }
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}
