$darkPrimary: #160031;
$colorPrimary: dodgerblue;
$colorSecondary: rgb(0, 99, 199);
$color3: #ac0000;
$proColor: rgba(
  $color: #ffb02e,
  $alpha: 0.4,
);
$proColorAccent: #ffb02e;
$successGreen: #59b259;
$failRed: #e54135;
