@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-tour{
  max-width: 400px;
  width: fit-content;
  margin: 0 10px;
  .ant-tour-content{
    padding: 0 !important;
    .ant-tour-inner{
      background-color: rgba($color: white, $alpha: 0.8) !important;
      backdrop-filter: blur(10px);
      .ant-tour-description{
        padding: 10px 18px;
      }
    }
  }
}
html {
  scroll-behavior: smooth;
}
a {
  color: $colorPrimary;
  &:hover {
    color: darken($color: $colorPrimary, $amount: 20);
  }
}
.prompt-title-box {
  backdrop-filter: blur(10px);
  padding: 8px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: rgba($color: $colorPrimary, $alpha: 0.2);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logout {
  background-color: $color3 !important;
  &:hover {
    background-color: darken($color: $color3, $amount: 10) !important;
  }
}
.ant-drawer-close {
  position: absolute;
  top: 20px;
  right: 0;
}

.global-error-container {
  width: 100%;
  height: 100vh;
  background-color: #FAFAFC;
  color: grey;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  flex-direction: column;
  gap: 10px;
}

.no-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  color: rgba($color: #454545, $alpha: 1);
  font-size: 30px;
  font-weight: 700;
}
.post-details-drawer {
  background-color: rgba($color: #FAFAFC, $alpha: 0.8) !important;
  backdrop-filter: blur(10px);
  .ant-drawer-body {
    color: white;
  }
}

.avatar-logo {
  background-color: #ececf1;
}
.load-more-btn{
  background-color: rgb(240, 240, 240);
}

.toast-container {
  background-color: rgba($color: #fafafc, $alpha: 0.6) !important;
  backdrop-filter: blur(10px);
  color: black;
}

.loader-icon {
  animation: rotate 1s linear infinite;
}

//ant design default styles modifications
.ant-modal-mask {
  backdrop-filter: blur(10px);
}
.ant-modal-content {
  background-color: rgba($color: #FAFAFC, $alpha: 0.8) !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.6);
  .ant-modal-header {
    background-color: transparent !important;
    text-transform: uppercase;
  }
}

.ant-drawer-content-wrapper {
  box-shadow: none !important;
}

.ant-switch {
  border-radius: 5px;
  .ant-switch-handle {
    &::before {
      border-radius: 5px !important;
    }
  }
}

.signon-modal {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  .signon-modal-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    .policy-text {
      color: grey;
      text-align: center;
    }
  }
}

.animated-text {
  background-image: linear-gradient(45deg, dodgerblue, rgb(0, 99, 199));
  background-size: 300% 100%;
  animation: gradientAnimation 8s infinite linear reverse;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  user-select: none;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
